In [2]:
import pandas as pd
archivo="/content/drive/MyDrive/data/water_potabilityImputacion.csv"
datos=pd.read_csv(archivo)
print(datos.head)

<bound method NDFrame.head of             ph    Hardness        Solids  Chloramines     Sulfate  \
0          NaN  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246         NaN
2     8.099124  224.236259  19909.541732     9.275884         NaN
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362         NaN
3273  9.419510  175.762646  33155.578218     7.350233         NaN
3274  5.126763  230.603758  11983.869376     6.303357         NaN
3275  7.874671  195.102299  17404.177061     7.509306         NaN

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0       564.308654       10.379783        86.990970   2.963135           0
1       592.885359       15.180013        56.329076   4.500656           0
2       418.606213       16.868637        66.420093   3.055934           0
3       363.266516       18.436524       100.341674   4.628771           0
4       398.410813       11.558279        31.997993   4.075075           0
...            ...             ...              ...        ...         ...
3271    526.424171       13.894419        66.687695   4.435821           1
3272    392.449580       19.903225              NaN   2.798243           1
3273    432.044783       11.039070        69.845400   3.298875           1
3274    402.883113       11.168946        77.488213   4.708658           1
3275    327.459760       16.140368        78.698446   2.309149           1

[3276 rows x 10 columns]>

Sacamos la primera columna y realizamos la imputaci칩n

In [3]:
import numpy as np
y=datos.ph
yp=np.asarray(y, dtype="float")

print(yp)
print(len(yp))

[       nan 3.71608008 8.09912419 ... 9.41951032 5.12676292 7.87467136]
3276

In [4]:
#hallamos la media con numpy
yp1=yp
# Filtramos los valores 0 y los valores NaN elementos que no son nan
yp1 = yp1[(~np.isnan(yp1))]

# Calcular la media de los valores restantes
media = np.mean(yp1)
print(media)

7.080794504276835

In [5]:
#reemplazamos por la media
yp2=np.where(np.isnan(yp),media,yp)
print(yp2)

[7.0807945  3.71608008 8.09912419 ... 9.41951032 5.12676292 7.87467136]

Ya hicimos la imputaci칩n de la primera columna ph ahora faltan las dem치s para eso creamos una funci칩n imputar columna

In [6]:
def imputar(columna):
  y=columna
  yp=np.asarray(y, dtype="float")
  #hallamos la media con numpy
  yp1=yp
  # Filtramos los valores 0 y los valores NaN elementos que no son nan
  yp1 = yp1[(~np.isnan(yp1))]

  # Calcular la media de los valores restantes
  media = np.mean(yp1)
  yp2=np.where(np.isnan(yp),media,yp)
  return yp2


print()
print("Primera columna: ",imputar(datos.ph))
print()
print("Segunda columna: ",imputar(datos.Hardness))
print()
print("Tercera columna: ",imputar(datos.Solids))
print()
print("Cuarta columna: ",imputar(datos.Chloramines) )
print()
print("Quinta columna: ",imputar(datos.Sulfate))
print()
print("Sexta columna: ",imputar(datos.Conductivity))
print()
print("Septima columna: ",imputar(datos.Organic_carbon))
print()
print("Octava columna: ",imputar(datos.Trihalomethanes))
print()
print("Novena columna: ",imputar(datos.Turbidity))
print()
print("Decima columna: ",imputar(datos.Potability))

Primera columna:  [7.0807945  3.71608008 8.09912419 ... 9.41951032 5.12676292 7.87467136]

Segunda columna:  [204.89045547 129.42292051 224.23625939 ... 175.7626463  230.60375751
 195.10229859]

Tercera columna:  [20791.31898075 18630.05785797 19909.54173229 ... 33155.57821831
 11983.86937634 17404.17706105]

Cuarta columna:  [7.30021187 6.63524588 9.2758836  ... 7.35023323 6.30335653 7.50930586]

Quinta columna:  [368.51644135 333.77577661 333.77577661 ... 333.77577661 333.77577661
 333.77577661]

Sexta columna:  [564.30865417 592.88535913 418.60621306 ... 432.04478305 402.88311312
 327.45976046]

Septima columna:  [10.37978308 15.18001312 16.86863693 ... 11.03906969 11.16894622
 16.14036763]

Octava columna:  [86.99097046 56.32907628 66.42009251 ... 69.84540029 77.4882131
 78.69844633]

Novena columna:  [2.96313538 4.50065627 3.05593375 ... 3.2988755  4.70865847 2.30914906]

Decima columna:  [0. 0. 0. ... 1. 1. 1.]

**Ahora mostramos como un nuevo dataset**

In [7]:
columnas_imputadas = []
etiquetas_columnas = []
#itera en los nombres de columnas
for columna in datos.columns:
  #datos[indice] devuelve la columna
    datos_imputados = imputar(datos[columna])
    columnas_imputadas.append(datos_imputados)
    etiquetas_columnas.append(columna)
matriz_imputada = np.column_stack(columnas_imputadas)
#se coloca la matriz imputada y como otro atributo las etiquetas
datos = pd.DataFrame(matriz_imputada, columns=etiquetas_columnas)

# Mostrar el DataFrame con las columnas imputadas
print("Nuevo dataframe imputado de la calidad de agua:")
print(datos.head)

Nuevo dataframe imputado de la calidad de agua:
<bound method NDFrame.head of             ph    Hardness        Solids  Chloramines     Sulfate  \
0     7.080795  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246  333.775777
2     8.099124  224.236259  19909.541732     9.275884  333.775777
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362  333.775777
3273  9.419510  175.762646  33155.578218     7.350233  333.775777
3274  5.126763  230.603758  11983.869376     6.303357  333.775777
3275  7.874671  195.102299  17404.177061     7.509306  333.775777

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0       564.308654       10.379783        86.990970   2.963135         0.0
1       592.885359       15.180013        56.329076   4.500656         0.0
2       418.606213       16.868637        66.420093   3.055934         0.0
3       363.266516       18.436524       100.341674   4.628771         0.0
4       398.410813       11.558279        31.997993   4.075075         0.0
...            ...             ...              ...        ...         ...
3271    526.424171       13.894419        66.687695   4.435821         1.0
3272    392.449580       19.903225        66.396293   2.798243         1.0
3273    432.044783       11.039070        69.845400   3.298875         1.0
3274    402.883113       11.168946        77.488213   4.708658         1.0
3275    327.459760       16.140368        78.698446   2.309149         1.0

[3276 rows x 10 columns]>